<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{site.title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="author" content="{{site.author}}">
    <meta name="description" content="{{site.description}}">
    <meta name="keywords" content="gdg, vit, projects devfest, google, programming, android, chrome, developers, vellore">
    <meta name="google-site-verification" content="" />
    <link rel="canonical" href="{{site.url}}">
    <!-- Social: Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@DevFest">
    <meta name="twitter:title" content="GDG-VIT Vellore">
    <meta name="twitter:description" content="GDG-VIT Vellore">
    <meta name="twitter:image:src" content="https://gdgvit.github.iohttp://gdgvitvellore.com/img/seo/sharing-twitter.png">
    <!-- Social: Facebook / Open Graph -->
    <meta property="og:title" content="{{site.title}}" />
    <meta property="og:site_name" content="{{site.title}}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://gdgvit.github.io" />
      <meta property="og:description" content="{{site.title}}" />
    <meta property="og:image" content="https://gdgvit.github.iohttp://gdgvitvellore.com/img/seo/sharing-facebook.png" />
    <link rel="shortcut icon" href="http://gdgvitvellore.com/img/favicons/favicon.ico">
    <link rel="apple-touch-icon" sizes="152x152" href="http://gdgvitvellore.com/img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="144x144" href="http://gdgvitvellore.com/img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="120x120" href="http://gdgvitvellore.com/img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="114x114" href="http://gdgvitvellore.com/img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="76x76" href="http://gdgvitvellore.com/img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="72x72" href="http://gdgvitvellore.com/img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="60x60" href="http://gdgvitvellore.com/img/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="57x57" href="http://gdgvitvellore.com/img/favicons/apple-touch-icon-57x57.png">
    <link rel="icon" type="image/png" href="http://gdgvitvellore.com/img/favicons/favicon-196x196.png">
    <link rel="icon" type="image/png" href="http://gdgvitvellore.com/img/favicons/favicon-160x160.png">
    <link rel="icon" type="image/png" href="http://gdgvitvellore.com/img/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" href="http://gdgvitvellore.com/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" href="http://gdgvitvellore.com/img/favicons/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-TileImage" content="http://gdgvitvellore.com/img/favicons/mstile-144x144.png">
    <meta name="msapplication-config" content="http://gdgvitvellore.com/img/favicons/browserconfig.xml">
    <meta name="theme-color" content="#2b5797">
    <link href="{{site.url}}/materialize/css/materialize.min.css" rel="stylesheet" type="text/css" />
    <link href="{{site.url}}/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="{{site.url}}/css/home.css?1112" rel="stylesheet" type="text/css" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]> <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script> <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script> <![endif]-->
</head>

<body>
    <!-- <div id="preloader" class="preloader">
        <div class="loader-gplus"></div>
    </div> -->
    {{url}}
