<div class="container-fluid">
  <div class="landing-bg">
    <div class="overlay">
    </div>
    <div class="content">
      <div class="center">
        <img src="{{site.url}}/img/googledev.png" class="responsive-img circle landing-logo" />
      </div>
      <div class="center">
        <h2 class="center white-text">{{page.title}}</h2>
      </div>
    </div>
  </div>
</div>
<h5>This will be made..</h5>
<b>Title</b> : {{page.title}}
<br />
<b>Date</b> : {{page.date}}
<br />
<b>Users</b> : {{page.users}}
<br />
<b>Description</b> : {{page.description}}
<br />
<b>Categories</b> : {{page.categories}}
